$bgcolor: lightblue;
$textcolor: rgb(36, 36, 175);
$fontsize: 10px;

form {
    border-radius: 3px;
    padding: 40px;
    text-align: center;
    color: rgb(194, 238, 238);
    font-size: 20px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}
input:last-child{
    border-radius: 20px;
    width: 50%;
}
input[type="submit"]:hover{
    background-color: rgb(194, 238, 238);

}