header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background:linear-gradient(rgb(222, 244, 247),rgb(122, 220, 235));
    h1{
        color:rgb(226, 102, 125);
        font-size:30px;
        padding: 30px;
        font-family: cursive;
    }
}

